body {
    margin: 0;
    padding: 0;
    background-color: #111;
    overflow: hidden;
}

#glow {
    position: absolute;
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
    pointer-events: none;
    border-radius: 50%;
    transition: transform 0.05s linear;
    transform: translate(-50%, -50%);
}

